@model Healthcare.Models.UserModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-controller="Home" asp-action="Register" method="post">
    <div class="box-form">
        <div class="content-form">
            @using (Html.BeginForm("Register", "Home"))
            {
                @Html.AntiForgeryToken()

            <h2>Register Form</h2>
            <div class="form-group">
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, "", new { @class = "txt-input", @placeholder = "First Name" })
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, "", new { @class = "txt-input", @placeholder = "Last Name" })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, "", new { @class = "txt-input", @placeholder = "Email" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password)
                @Html.TextBoxFor(m => m.Password, "", new { @class = "txt-input", @placeholder = "Password" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>



            <div class="form-group">
                <input type="submit" name="submit" class="btn btn-primary" value="Register" />
            </div>
        }
        </div>
    </div>
</form>
    
